@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Montserrat', sans-serif;
  color: whitesmoke;
  background-color: #101010;
  /* overscroll-behavior-x: none; */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.1em;
}

h1 {
  @apply font-extrabold text-6xl;
}

h2 {
  @apply font-semibold text-4xl;
}

h3 {
  @apply font-medium text-xl;
}

@keyframes a-highlight {
  0% {
    text-decoration-color: transparent;
  }

  100% {
    text-decoration-color: inherit;
  }
}