@keyframes contact-highlight {
  0% {
    color: rgb(255, 255, 255);
  }
    
  100% {
    color: rgba(229, 231, 235);
  }
}

.contact-button {
  color: rgb(255, 255, 255);
}

.contact-button:hover {
  animation: contact-highlight 150ms linear;
  animation-fill-mode: forwards;
}

.contact-button:focus {
  animation: contact-highlight 150ms linear;
  animation-fill-mode: forwards;
}