@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Montserrat', sans-serif;
  color: white;
  /* background-color: tomato; */
  overscroll-behavior-x: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  animation: a-highlight 300ms linear;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 1.1em;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
}

@keyframes a-highlight {
  0% {
    text-decoration-color: transparent;
  }

  100% {
    text-decoration-color: inherit;
  }
}