html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Montserrat', sans-serif;
  color: white;
  background: tomato;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 1.1em;
}

h1 {
  font-size: 1.5em;
}