.nav {
  width: 20%;
  height: max-content;
  top: 15%;
  left: 40%;
  right: 40%;
  position: absolute;
  display: flex;
  flex-flow: column wrap;
}

.nav a {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 3em;
  text-align: center;
  color: red;
  background-color: #10101c;
}

.main-text {
  position: absolute;
  top: 70%;
  left: 45%;
  width: 10%;
  text-align: center;
  color: rgb(143, 143, 143)
}