.Sections section {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
  }

.Sections section div[data-sectionpadding="true"] {
  padding: 5vh 10vw;
}