.Tilt1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.Tilt1 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 100px;
}

.Wavy1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.Wavy1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
}

.Wavy2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.Wavy2 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 238px;
}

.Wavy3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.Wavy3 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 125px;
}

.Blob1 {
    aspect-ratio: 960/565;
    position: absolute;
    top: 238px;
    left: 0;
    overflow: hidden;
    width: 100%;
}